In [1]:
import pandas as pd
df = pd.read_csv('archive/Korea Income and Welfare.csv')
df.head()

,id,year,wave,region,income,family_member,gender,year_born,education_level,marriage,religion,occupation,company_size,reason_none_worker
0,10101,2005,1,1,614.0,1,2,1936,2,2,2,,,8
1,10101,2011,7,1,896.0,1,2,1936,2,2,2,,,10
2,10101,2012,8,1,1310.0,1,2,1936,2,2,2,,,10
3,10101,2013,9,1,2208.0,1,2,1936,2,2,2,,,1
4,10101,2014,10,1,864.0,1,2,1936,2,2,2,,,10

In [2]:
df.describe()

,id,year,wave,region,income,family_member,gender,year_born,education_level,marriage,religion
count,9.285700e+04,92857.000000,92857.000000,92857.000000,92857.000000,92857.000000,92857.000000,92857.000000,92857.000000,92857.000000,92857.000000
mean,4.365181e+07,2011.517958,7.517958,3.691353,3441.122327,2.484304,1.296316,1952.956740,4.511895,1.679389,1.499521
std,2.619007e+07,4.011222,4.011222,2.058961,4176.324522,1.292251,0.456634,16.006065,1.669887,1.103413,0.531572
min,1.010100e+04,2005.000000,1.000000,1.000000,-232174.000000,1.000000,1.000000,1910.000000,2.000000,0.000000,1.000000
25%,2.177120e+07,2008.000000,4.000000,2.000000,1140.000000,1.000000,1.000000,1939.000000,3.000000,1.000000,1.000000
50%,4.322010e+07,2012.000000,8.000000,3.000000,2428.000000,2.000000,1.000000,1952.000000,5.000000,1.000000,1.000000
75%,6.190030e+07,2015.000000,11.000000,5.000000,4695.000000,3.000000,2.000000,1966.000000,5.000000,2.000000,2.000000
max,9.800070e+07,2018.000000,14.000000,7.000000,468209.000000,9.000000,2.000000,2002.000000,9.000000,9.000000,9.000000

In [3]:
df.isnull().sum()

id                    0
year                  0
wave                  0
region                0
income                0
family_member         0
gender                0
year_born             0
education_level       0
marriage              0
religion              0
occupation            0
company_size          0
reason_none_worker    0
dtype: int64

In [4]:
avg_income_region = df.groupby('region')['income'].mean()
print(avg_income_region)

region
1    4028.787273
2    3907.235626
3    3433.993306
4    2771.124671
5    3742.423781
6    3081.881088
7    2870.977443
Name: income, dtype: float64

In [5]:
family_member_education = df.groupby('education_level')['family_member'].sum()
print(family_member_education)

education_level
2    15546
3    40277
4    28743
5    77809
6    18074
7    42382
8     7094
9      760
Name: family_member, dtype: int64

In [6]:
gender_religion = df.groupby(['gender', 'religion'])['marriage'].value_counts(normalize=True)
print(gender_religion)

gender  religion  marriage
1       1         1           0.887081
                  5           0.037929
                  3           0.036693
                  2           0.032549
                  4           0.005080
                  6           0.000568
                  0           0.000067
                  9           0.000033
        2         1           0.814362
                  5           0.073169
                  3           0.062030
                  2           0.040260
                  4           0.009217
                  6           0.000679
                  0           0.000226
                  9           0.000057
        9         1           0.875000
                  2           0.041667
                  5           0.041667
                  0           0.020833
                  6           0.020833
2       1         2           0.712944
                  3           0.151356
                  1           0.062563
                  5           0.047439
                  4           0.025344
                  6           0.000236
                  0           0.000059
                  9           0.000059
        2         2           0.637687
                  3           0.152901
                  5           0.118787
                  1           0.066245
                  4           0.023058
                  6           0.000851
                  9           0.000284
                  0           0.000189
        9         5           0.500000
                  2           0.333333
                  3           0.166667
Name: marriage, dtype: float64

In [7]:
q3 = df.quantile(0.75, numeric_only=True)
q1 = df.quantile(0.25, numeric_only=True)

iqr = q3 - q1

def is_outlier(df):
    score = df['income']
    if score > q3['income'] + 1.5*iqr['income'] or score < q1['income'] - 1.5 * iqr['income']:
        return True
    else:
        return False

df['income_outlier'] = df.apply(is_outlier, axis = 1)

df = df.loc[df['income_outlier'] == False]

del df['income_outlier']

df['income'].value_counts()

3000.0    71
2400.0    70
1800.0    69
1200.0    57
840.0     56
          ..
4130.4     1
6836.0     1
3354.4     1
3706.2     1
1446.3     1
Name: income, Length: 10336, dtype: int64

In [8]:
df_job_on = df[(df['occupation'] != ' ') & (df['reason_none_worker'] == ' ') ]

df_job_on = df_job_on[(df_job_on['occupation'] != ' ') & (df_job_on['company_size'] != ' ') ]

df_job_off = df[(df['occupation'] == ' ') & (df['reason_none_worker'] != ' ') ]

df_job_on.head()

,id,year,wave,region,income,family_member,gender,year_born,education_level,marriage,religion,occupation,company_size,reason_none_worker
8,20101,2005,1,1,1257.0,1,2,1945,4,2,2,421,1,
10,20101,2007,3,1,602.0,1,2,1945,4,2,2,411,1,
11,20101,2008,4,1,1972.0,1,2,1945,4,2,2,951,1,
12,20101,2009,5,1,1638.0,1,2,1945,4,2,1,951,1,
13,20101,2010,6,1,1598.0,1,2,1945,4,2,2,951,1,

In [9]:
df_soldier = df_job_on[(df_job_on['occupation'] == '1011') | (df_job_on['occupation'] == '1012')]
df_soldier['occupation'] = '100'

soldier_num = df_job_on[(df_job_on['occupation'] == '1011') | (df_job_on['occupation'] == '1012')].index
df_job_on.drop(soldier_num, inplace = True)

C:\Users\wjsdl\AppData\Local\Temp\ipykernel_12564\1307682337.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_soldier['occupation'] = '100'

In [10]:
df_job_on['occupation'] = df_job_on['occupation'].str[0] * 2

df_job_on = pd.concat([df_job_on,df_soldier])
df_job_on['occupation'].value_counts()

66     11248
99     10861
88      6961
77      5927
33      5535
22      4785
55      4351
44      3820
11      1807
100      259
Name: occupation, dtype: int64

In [11]:
df_job_off['reason_none_worker'].replace('11','0', inplace=True)

num = df_job_off[df_job_off['reason_none_worker'] == '99'].index

df_job_off.drop(num, inplace=True)
df_job_off['reason_none_worker'].value_counts()

C:\Users\wjsdl\AppData\Local\Temp\ipykernel_12564\3490302467.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_job_off['reason_none_worker'].replace('11','0', inplace=True)
C:\Users\wjsdl\AppData\Local\Temp\ipykernel_12564\3490302467.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_job_off.drop(num, inplace=True)

10    18988
8      4263
9      2668
1      2484
7      1117
6      1065
4       703
5       323
0       235
3        52
2         7
Name: reason_none_worker, dtype: int64

In [12]:
df_job_off['occupation'] = df_job_off['reason_none_worker']
df_job_off['company_size'] = 0

df1 = pd.concat([df_job_on,df_job_off])

C:\Users\wjsdl\AppData\Local\Temp\ipykernel_12564\1875271451.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_job_off['occupation'] = df_job_off['reason_none_worker']
C:\Users\wjsdl\AppData\Local\Temp\ipykernel_12564\1875271451.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_job_off['company_size'] = 0

In [13]:
df1.drop(['id','year'], axis = 1, inplace = True)

df1 = df1[df1['income'] >= 0]

In [14]:
num1 = df1[(df1['marriage'] == 0) | (df1['marriage'] == 9)].index
df1.drop(num1, inplace =True)

num2 = df1[df1['religion'] == 9].index
df1.drop(num2, inplace=True)

num3 = df1[df1['company_size']=='99'].index
df1.drop(num3, inplace=True)

In [16]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87231 entries, 8 to 92848
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   wave                87231 non-null  int64
 1   region              87231 non-null  int64
 2   income              87231 non-null  float64
 3   family_member       87231 non-null  int64
 4   gender              87231 non-null  int64
 5   year_born           87231 non-null  int64
 6   education_level     87231 non-null  int64
 7   marriage            87231 non-null  int64
 8   religion            87231 non-null  int64
 9   occupation          87231 non-null  object
 10  company_size        87231 non-null  object
 11  reason_none_worker  87231 non-null  object
dtypes: float64(1), int64(8), object(3)
memory usage: 8.7+ MB

In [41]:
df['region'] = df['region'].apply(str)

df['company_size'] = pd.to_numeric(df['company_size'], errors='coerce').fillna(0)

df['gender'].replace([1, 2], [0, 1], inplace=True)
df['religion'].replace([1, 2], [0, 1], inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87187 entries, 0 to 92856
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   wave                87187 non-null  int64
 1   region              87187 non-null  object
 2   income              87187 non-null  float64
 3   family_member       87187 non-null  int64
 4   gender              87187 non-null  int64
 5   year_born           87187 non-null  int64
 6   education_level     87187 non-null  int64
 7   marriage            87187 non-null  int64
 8   religion            87187 non-null  int64
 9   occupation          87187 non-null  object
 10  company_size        87187 non-null  float64
 11  reason_none_worker  87187 non-null  object
dtypes: float64(2), int64(7), object(3)
memory usage: 8.6+ MB

In [42]:
cal_cols = df.select_dtypes('object').columns.values

df = pd.get_dummies(data=df, columns=cal_cols)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87187 entries, 0 to 92856
Columns: 273 entries, wave to reason_none_worker_99
dtypes: float64(2), int64(7), uint8(264)
memory usage: 28.6 MB

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88770 entries, 0 to 92856
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   wave                88770 non-null  int64
 1   region              88770 non-null  int64
 2   income              88770 non-null  float64
 3   family_member       88770 non-null  int64
 4   gender              88770 non-null  int64
 5   year_born           88770 non-null  int64
 6   education_level     88770 non-null  int64
 7   marriage            88770 non-null  int64
 8   religion            88770 non-null  int64
 9   occupation          88770 non-null  object
 10  company_size        88770 non-null  object
 11  reason_none_worker  88770 non-null  object
dtypes: float64(1), int64(8), object(3)
memory usage: 8.8+ MB

In [44]:
df.head()

,wave,income,family_member,gender,year_born,education_level,marriage,religion,company_size,region_1,...,reason_none_worker_11,reason_none_worker_2,reason_none_worker_3,reason_none_worker_4,reason_none_worker_5,reason_none_worker_6,reason_none_worker_7,reason_none_worker_8,reason_none_worker_9,reason_none_worker_99
0,1,614.0,1,1,1936,2,2,1,0.0,1,...,0,0,0,0,0,0,0,1,0,0
1,7,896.0,1,1,1936,2,2,1,0.0,1,...,0,0,0,0,0,0,0,0,0,0
2,8,1310.0,1,1,1936,2,2,1,0.0,1,...,0,0,0,0,0,0,0,0,0,0
3,9,2208.0,1,1,1936,2,2,1,0.0,1,...,0,0,0,0,0,0,0,0,0,0
4,10,864.0,1,1,1936,2,2,1,0.0,1,...,0,0,0,0,0,0,0,0,0,0

In [45]:
x = df.drop('income', axis = 1).values
y = df['income'].values

x.shape, y.shape

((87187, 272), (87187,))

In [46]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state=42)

In [47]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

x_train[0], y_train[0]

(array([ 0.89208394, -1.10736435,  1.47585543, -0.57375566, -0.2457554 ,
         0.25548132, -0.98895174, -0.68840711, -0.42403117, -0.50914956,
         2.19459756, -0.39375111, -0.30012411, -0.28875455, -0.46212698,
         1.26522097, -0.00701132, -0.01214455,  0.        , -0.02103809,
        -0.0504599 , -0.01514754, -0.0114499 , -0.00404792,  0.        ,
        -0.04010424, -0.00404792, -0.02429448, -0.02891978, -0.02360961,
        -0.01402367, -0.01764707, -0.02948186, -0.05377888, -0.01214455,
        -0.00905172, -0.00809604, -0.00809604, -0.03885526, -0.04512122,
        -0.03734568, -0.04051207, -0.01280159, -0.01280159, -0.01898969,
        -0.0369031 , -0.00701132, -0.00404792, -0.00572467, -0.01342653,
        -0.00701132, -0.00701132, -0.00991574, -0.02290431, -0.01669219,
        -0.00991574, -0.0114499 , -0.01214455, -0.0246298 , -0.01514754,
        -0.01459642, -0.00809604, -0.03030552, -0.02624233, -0.04880101,
        -0.02142432, -0.01717626,  0.        , -0.01619367, -0.06217274,
        -0.03290298, -0.02103809, -0.03290298, -0.05174911, -0.03364329,
        -0.0246298 , -0.01459642, -0.04131572, -0.01402367, -0.02325963,
        -0.02290431, -0.03240008, -0.01459642, -0.04051207, -0.03885526,
        -0.03436773, -0.0581964 , -0.02863461, -0.05931957, -0.0277616 ,
        -0.0530073 , -0.04777832, -0.01764707, -0.01941664, -0.02496062,
        -0.02920217, -0.02686033, -0.02103809, -0.05331725, -0.02920217,
        -0.01764707, -0.01898969, -0.02863461, -0.03240008, -0.03110745,
        -0.00572467, -0.01342653, -0.0225434 , -0.00905172, -0.00404792,
        -0.03507728, -0.12486993, -0.14186271, -0.08743241, -0.06727835,
        -0.01983441, -0.04071446, -0.02064465, -0.01342653, -0.05094713,
        -0.02655312, -0.01280159, -0.02142432, -0.02686033, -0.01214455,
        -0.01669219, -0.05393189, -0.06123624, -0.04475512, -0.01514754,
        -0.00572467, -0.03110745, -0.04071446, -0.08009246, -0.08264309,
        -0.01567932, -0.03290298, -0.04996796, -0.0424929 , -0.09042725,
        -0.08695545, -0.00701132, -0.01514754, -0.1200452 , -0.04475512,
        -0.08101969, -0.05543901, -0.13108631, -0.02064465, -0.07406934,
        -0.01071031, -0.01459642, -0.35717651, -0.04913723, -0.0530073 ,
        -0.03756503, -0.02496062, -0.0326525 , -0.06001102, -0.01669219,
        -0.04268597, -0.03531065, -0.00905172, -0.03667982, -0.05222444,
        -0.0246298 , -0.0606947 , -0.03622915, -0.04229896, -0.03412795,
        -0.02142432, -0.05529013, -0.0561776 , -0.0277616 , -0.05331725,
        -0.02290431, -0.0627017 , -0.04030867, -0.06885757, -0.01717626,
        -0.07605615, -0.04795027, -0.03388649, -0.07339539, -0.08433462,
        -0.02624233, -0.03531065,  0.        , -0.01402367, -0.02064465,
        -0.00404792, -0.01941664, -0.04091585, -0.0606947 , -0.03531065,
        -0.02142432, -0.01071031, -0.00991574, -0.01619367, -0.01855294,
        -0.01619367, -0.01669219, -0.0369031 , -0.02716406, -0.04363856,
        -0.00572467, -0.02142432, -0.01855294, -0.01567932,  0.        ,
        -0.03163081, -0.02920217, -0.04091585, -0.02891978, -0.01669219,
        -0.05238194, -0.09252181, -0.05331725, -0.0114499 , -0.04151422,
        -0.03600171, -0.0225434 , -0.05514084, -0.02716406, -0.01342653,
        -0.03821556, -0.03554249, -0.03030552, -0.01280159, -0.00905172,
        -0.1688627 , -0.05776966, -0.05862007, -0.01619367, -0.01855294,
        -0.01898969, -0.02655312, -0.03712505, -0.0277616 , -0.10972239,
        -0.05543901, -0.06361696, -0.04863204, -0.04475512, -0.05529013,
        -0.04880101, -0.0504599 , -0.08029941, -0.12728423, -0.18051766,
        -0.10670012, -0.06703215, -0.07904977, -0.0469092 , -0.06426287,
        -0.02948186, -0.09079488, -0.01342653, -1.31178817,  0.        ,
        -0.1710062 ,  1.89466543, -0.05062283, -0.00809604, -0.02290431,
        -0.09134363, -0.0611013 , -0.1116187 , -0.11281642, -0.22677217,
        -0.18046927, -0.02805561]),
 682.0)

In [48]:
from sklearn.linear_model import LinearRegression

LR = LinearRegression()

LR.fit(x_train, y_train)

LinearRegression()

In [49]:
y_pred = LR.predict(x_test)

from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_pred)
print(r2)

-3.140827206244599e+19